Repository ricardogonz/personal-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: lint, format

.lintstagedrc.json:

{
  "src/**/*.{ts, tsx}": "lint",
  "src/**/*.{ts,tsx,html,css}": "format"
}

Adds ACTIONS_ITEMS.MD and the wireframes
  docs/ACTION_ITEMS.MD
  docs/wireframes/about.png
  docs/wireframes/blog-create-edit.png
  docs/wireframes/blog.png
  docs/wireframes/contact.png
  docs/wireframes/home.png
  docs/wireframes/post-details-edit.png
  docs/wireframes/post-details.png
Due: none

Adds the router, header, nav, search field and layout
  .lintstagedrc.json
  .vscode/settings.json
  docs/ACTION_ITEMS.MD
  package-lock.json
  package.json
  src/App.css
  src/App.tsx
  src/components/atoms/Icon.tsx
  src/components/atoms/MenuButton.tsx
  src/components/atoms/NavButton.tsx
  src/components/atoms/index.ts
  src/components/index.ts
  src/components/organisms/Header.tsx
  src/components/organisms/index.ts
  src/components/pages/About.tsx
  src/components/pages/Blog.tsx
  src/components/pages/Contact.tsx
  src/components/pages/Home.tsx
  src/components/pages/index.ts
  src/components/templates/Layout.tsx
  src/components/templates/index.ts
  tailwind.config.js
  tsconfig.json
  yarn.lock
Due: lint, format

Adds Footer, Content, and BlogTitle components
  .vscode/settings.json
  docs/ACTION_ITEMS.MD
  src/components/atoms/Icon.tsx
  src/components/atoms/MenuButton.tsx
  src/components/atoms/NavButton.tsx
  src/components/atoms/SocialMediaNetworkButton.tsx
  src/components/atoms/index.ts
  src/components/molecules/BlogName.tsx
  src/components/molecules/SocialMediaNetworks.tsx
  src/components/molecules/index.ts
  src/components/organisms/Content.tsx
  src/components/organisms/Footer.tsx
  src/components/organisms/Header.tsx
  src/components/organisms/index.ts
  src/components/templates/Layout.tsx
Due: lint, format

Adds not found page and entry in the router
  .vscode/settings.json
  public/images/not-found.jpg
  public/index.html
  src/App.tsx
  src/components/atoms/NavButton.tsx
  src/components/atoms/SocialMediaNetworkButton.tsx
  src/components/pages/NotFound.tsx
  src/components/pages/index.ts
Due: lint, format

Adds hero image component
  docs/ACTION_ITEMS.MD
  public/images/hero.jpg
  src/components/molecules/HeroImage.tsx
  src/components/molecules/index.ts
  src/components/organisms/Content.tsx
  src/components/pages/Home.tsx
Due: lint, format

Adds the contact form
  .vscode/settings.json
  docs/ACTION_ITEMS.MD
  src/components/atoms/InputField.tsx
  src/components/atoms/NavButton.tsx
  src/components/atoms/SectionTitle.tsx
  src/components/atoms/TextareaField.tsx
  src/components/atoms/index.ts
  src/components/molecules/ContactForm.tsx
  src/components/molecules/HeroImage.tsx
  src/components/molecules/index.ts
  src/components/organisms/Header.tsx
  src/components/pages/About.tsx
  src/components/pages/Blog.tsx
  src/components/pages/Contact.tsx
  src/models/InputType.model.ts
  src/models/index.ts
Due: lint, format

Add the form to add posts and the delete button
  docs/ACTION_ITEMS.MD
  src/components/atoms/TextareaField.tsx
  src/components/molecules/AddPostForm.tsx
  src/components/molecules/Card.tsx
  src/components/molecules/CircleButton.tsx
  src/components/molecules/index.ts
  src/components/pages/Blog.tsx
Due: lint, format

Adds post details
  src/components/atoms/MenuButton.tsx
  src/components/molecules/Card.tsx
  src/components/molecules/Modal.tsx
  src/components/molecules/index.ts
  src/components/pages/PostDetails.tsx
  src/data.tsx
Due: lint, format

Adds the form to edit a post
  docs/ACTION_ITEMS.MD
  src/App.tsx
  src/components/atoms/InputField.tsx
  src/components/atoms/TextareaField.tsx
  src/components/molecules/AddPostForm.tsx
  src/components/pages/Blog.tsx
  src/components/pages/PostDetails.tsx
  src/models/PostFormValues.model.ts
  src/models/index.ts
Due: lint, format

Adds the UI and the logic of the search field
  docs/ACTION_ITEMS.MD
  src/components/atoms/Menu.tsx
  src/components/atoms/index.ts
  src/components/molecules/Search.tsx
  src/components/molecules/index.ts
  src/components/organisms/Header.tsx
  src/components/pages/PostDetails.tsx
  src/data.tsx
Due: lint, format

Implements CRUD logic for the posts
  docs/ACTION_ITEMS.MD
  src/components/molecules/AddPostForm.tsx
  src/components/molecules/Card.tsx
  src/components/molecules/Search.tsx
  src/components/pages/Blog.tsx
  src/components/pages/PostDetails.tsx
  src/components/templates/Layout.tsx
Due: format

Adds helment dependency to handle title tag
  docs/ACTION_ITEMS.MD
  package-lock.json
  package.json
  public/favicon.png
  public/index.html
  src/App.tsx
  src/components/molecules/HeroImage.tsx
  src/components/templates/Layout.tsx
Due: format

Finishes the home page and implements the local storage handling
  docs/ACTION_ITEMS.MD
  package.json
  scripts/setup.js
  src/App.tsx
  src/components/molecules/AddPostForm.tsx
  src/components/molecules/ContactForm.tsx
  src/components/pages/Blog.tsx
  src/components/pages/Home.tsx
  src/components/pages/PostDetails.tsx
  src/context/app/AppContextProvider.tsx
Due: format

Updates MD files
  README.md
  docs/ACTION_ITEMS.MD
  src/App.tsx
Due: format

Fixes contact form state
  src/components/molecules/ContactForm.tsx
Due: format
